name: release

on:
  push:
    tags:
      - "v*"

jobs:
  bump-homebrew-formula:
    runs-on: ubuntu-latest
    steps:
      - name: Bump Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          homebrew-tap: satococoa/homebrew-tap
          formula-name: wtcp
          formula-path: wtcp.rb
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TAP_GITHUB_TOKEN }}
